body ,html, a, p ,div, h1 ,h2, h3, h4 ,h5 ,h6 ,img,input ,button ,ul ,ol ,li ,form ,span, i{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    min-height: 750px;
    max-height: 1080px;
}
body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    background: #fff;
    position: relative;
}
ul,ol {
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
button{
    border: none;
}
input{
    outline: none;
}
img{
    border: none;
}
.clearboth::after{
    content: '';
    display: block;
    clear: both;
}
.flex{
    display: flex;
}
.top{
    width: 100%;
    height: 68px;
    background: #fff;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.wrap{
    width: 90%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.web_one{
    width: 100%;
    height: 477px;
    /* background: green; */
    position: relative;
    top: 0;
    left: 0;
}
.top_img{
    width: 100%;
    height:477px;
    position: absolute; 
    left: 0;
    top: 0;  
    z-index: -1;
}
.back_img{
    width: 100%;
    height: 100%;
    background-image: url(../img/ee45b07a5ced44f3bda18338f00e56eaz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}
/* .big_box{
    width: 100%;
} */
.web_one_nav{
    width: 90%;
    height: 82px;
    margin: 0 auto;
    align-items: center;
    justify-content:space-between;
}
.img_one{
    width: 120px;
    height: 55px;
    display: block;
}

.ul_one{
    /* width: 612px; */
    height: 82px;
    /* background: green; */
    line-height: 82px;
    /* margin-left: 210px; */
}
.ul_one li{
    margin-right: 30px;
}
.ul_one li a{
    font-weight: 500;
    color: #000;
    font-size: 16px;
}
.ul_one  .ap{
    margin-right:30px; 
}
.form_one{
    position: relative;
}
.img_two{
    width: 15px;
    height: 14px;
    position: absolute;
    right: 7px;
    top: 34px;
}
.form_one input{
    width: 170px;
    height: 30px;
    border-radius: 100px;
    border: none;
    text-indent: 15px;
}

.form_one input::placeholder{
    font-size: 12px;
    
}
.img_ren img{
    width: 29px;
    height: 29px;
    margin-left: 12px;
    vertical-align: middle;
}
.img_car img{
    width: 29px;
    height: 29px;
    margin-left: 8px;
    vertical-align: middle;
}
.nav_box{
    line-height: 82px;
}
.web_two_img{
    width: 100%;
    /* background: green; */
    justify-content: space-around;
    margin-top: 30px;
}
.web_two_img img{
    /* width: 20%; */
    display: block;
}
.web_three{
    width: 100%;
    /* background: green; */
}
.web_three_left{
    width: 49%;
    height: 290px;
    background:url(../img/6dfd9194088d4c72a9433b31bcbfc5a4z.jpg) no-repeat center;
    background-size: cover; 
    text-align: center;
    line-height: 310px;
    
    
}
.web_three_left img{
    display: inline-block; 
}
.web_three_right{
    width: 49%;
    height: 290px;    
    /* background: blue; */

}
.flexclone{
    justify-content: space-between
}
.web_three_righttop{
    width: 100%;
    height: 50%;
    /* background: red; */
}
.web_three_righttop img{
    width: 50%;
    padding: 1px
}
.web_three_rightbottom img{
    width: 50%;
    padding: 1px
}
.txt{
    font-size: 22px;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin-top: 60px;
}
.web_four{
    width: 100%;
    height: 270px;
    /* background: green; */
    margin-top: 30px;
    
}
.web_four_left{
    width: 49%;
}
.web_four_left img{
    display: block;
    width: 100%;
    height: 100%;
}
.web_four_right{
    width: 49%;
}
.use{
    width: 48%;
    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    
}
.use img{
    width: 100%;
    display: block;
}
.use p{
    font-size: 20px;
    text-align: center;
    line-height: 65px;
}
.web_five{
    width: 100%;
    height: 270px;
    /* background: green; */
    margin-top: 20px;
}
.web_six {
    width: 100%;
    /* background: green; */
    
}
.web_six h3{
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    margin-top: 50px;
}
.web_six_img {
    /* justify-content: space-around; */
    justify-content: center;
    margin-top: 50px;
}
.web_six_img  img{
    width: 23.5%;
    display: block;
  
}
.web_six_imgtwo{
    padding: 0 30px 0 30px;
}
.bottom_ys{
    width: 100%;
    height: 248px;
    background: #fff;
    margin-top: 60px;
    border-top: 1px solid #f1f1f1;
}
.wrap_six{
    width: 1240px;
    height: auto;
    /* background: #fff; */
    margin: auto;
    margin-top: 40px;
    position: relative;
}
.line_one{
    font-size: 12px;
    color: #999;
    text-align: right;
}
.sth{
    width: 1000px;
    height: 69px;
    /* background: red; */
}
.sth li{
   width: 15%;
   text-align: center;
}
.sth li img {
    width: 50px;
    height: 39px;
}
.sth li span {
    color: #999;
    display: block;
    font-size: 12px;
}
.dianh{
    color: #00c3f5;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    right: -3px;
    top:20px;
}
.innth{
    width: 88px;
    height: 30px;
    background: #0bbbef;
    border-radius: 100px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: -3px;
    top: 65px;
}
.border_bottom{
    width: 100%;
    height: 1px;
    background: #eee;
    margin-top: 25px
}
.know li a{
    font-size: 12px;
    color: #999;
}
.know li img{
    width: 18px;
    height: 18px;
    display:block;
    padding-right: 5px;
}
.know li{
   height: 18px;
   /* border-left: 1px solid #999; */
   border-right: 1px solid #999;
   text-align: center;
   line-height: 18px;
   /* padding-left: 10px */
   padding-right: 15px;
   margin-right: 15px;
}
.know{
    margin-top: 30px;
}
.nmsl{
    width: 1000px;
     /* background: red;  */
     /* position: relative; */
     margin-top:10px;
} 
.nmsl span{
    color: #999;
    font-size: 12px;
}
.nmsl a{
    color: #999;
    font-size: 12px;
    padding-left: 10px;
}
.botimg_one{
    width: 15px;
    height: 15px;
    margin-top:5px;
    display: inline-block;
    position: relative;
    left: 5px;
    top: 3px; 
}
.nmsl_a1{
    margin-left: 15px;
}