.web_one{
    width: 100%;
    height: 670px;
    /* background: green; */
    position: relative;
    top: 0;
    left: 0;
}
.top_img{
    width: 100%;
    height: 670px;
    position: absolute; 
    left: 0;
    top: 0;  
    z-index: -1;
}
.back_img{
    width: 100%;
    height: 100%;
    background-image: url(https://fms.res.meizu.com/dms/2019/03/06/0ebaac42-c73f-4c23-8931-d6fa582d506c.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}
/* .big_box{
    width: 100%;
} */
.web_one_nav{
    width: 90%;
    height: 82px;
    margin: 0 auto;
    align-items: center;
    justify-content:space-between;
}
.img_one{
    width: 125px;
    height: 24px;
    display: block;
}

.ul_one{
    /* width: 612px; */
    height: 82px;
    /* background: green; */
    line-height: 82px;
    /* margin-left: 210px; */
}
.ul_one li{
    margin-right: 30px;
}
.ul_one li a{
    font-weight: 500;
}
.ul_one  .ap{
    margin-right:30px; 
}
.form_one{
    position: relative;
}
.img_two{
    width: 15px;
    height: 14px;
    position: absolute;
    right: 7px;
    top: 34px;
}
.form_one input{
    width: 170px;
    height: 30px;
    border-radius: 100px;
    border: none;
    text-indent: 15px;
}

.form_one input::placeholder{
    font-size: 12px;
    
}
.img_ren img{
    width: 29px;
    height: 29px;
    margin-left: 12px;
    vertical-align: middle;
}
.img_car img{
    width: 29px;
    height: 29px;
    margin-left: 8px;
    vertical-align: middle;
}
.nav_box{
    line-height: 82px;
}
.web_two{
    width: 100%;
    height: 278px;
    background: #fff;
    vertical-align: middle;
}
.wrap_one{
    width: 1240px;
    height: 278px;
    margin:auto;
    /* background: red; */
    overflow: hidden
}
.have{
    width: 310px;
    height: 187px;
    /* background: green; */
    text-align: center;
    margin-top: 45px;
}
.have img{
    width: 190px;
    height: 130px; 
}
.have p{
    font-size: 18px;
    padding: 5px;
    color: #333;
}
.have  a{
    font-size: 14px;
    color: #999;
}
.tit{
    width: 100%;
    height: 105px;
    background: #f3f3f3;
    overflow: hidden;
}
.tit h3{
    font-size:30px;
    color: #505050;
    margin-top: 50px;
    font-weight: 400;
    text-align: center;
    
}
.love{
    width: 100%;
    height: 450px;
}
.back_img_two{
    width: 100%;
    height: 100%;
    background-image: url(https://openfile.meizu.com/group1/M00/06/F9/Cgbj0FxmbimAfNChAAOMaG6s828938.jpg);
    background-size: cover;
    background-position: center;
}